#video {
  width: 320px;
  height: 240px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
}

#photo {
  width: 320px;
  height: 240px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
}

#canvas {
  display:none;
}

#startButton {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.wrapper {
  width: 760px;
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
}

.camera {
  display: inline-block;
}

.output {
  display: inline-block;
  margin-left: 12px;
}